<ion-header-bar align-title="center" class="bar bar-header bar-stable">
  <div class="buttons">
    <a class="button button-icon icon ion-arrow-left-a" href="#/home"></a>
  </div>
  <h1 class="title">Support</h1>
</ion-header-bar>
<ion-content class="padding">
    <ol class="messages">
      <li ng-repeat="message in messages"  >
          <div ng-class="message.textClass">{{message.textData}}</div>
          <div style="display:block; width:100%;"></div>
     </li>
    </ol>
</ion-content>
<ion-footer-bar class="bar-frosted">
    <textarea placeholder="message" ng-model="sendText"  style="width:80%;"></textarea>
    <button class="button button-small " style="width:20%;" ng-click="sendMessage(sendText)">
      Send
    </button>
</ion-footer-bar>